.main {
    margin: 0;
    height: 100%;
    .header {
        padding: 15px 0;
        background-color: #ffffff;
    }
    
    .header-content {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        border: 0px solid #42515f;
        .logo-content {
            display: flex;
            flex-direction: row;
            align-items: center;
            border: 0px solid #42515f;
            width: 80%;
        }
        
        .logo-content img {
            border: 0px solid #42515f;
            height: 44px;
            width: 44px;
        }
        
        .address-text {
            font: normal normal bold 20px/25px Montserrat;
            font-family: "Montserrat", sans-serif;
            letter-spacing: 0px;
            color: #008cff;
            text-transform: uppercase;
            margin-left: 5px;
        }
        
        .address-book { 
            color: #42515f;
        }
    }
    
    .form-content {
        min-height: calc(100% - 80px);
        display: flex;
        background-color: #f7f7f7;
        justify-content: center;
        align-items: center;
        .form {
            width: 65%;
            background: #ffffff 0% 0% no-repeat padding-box;
            margin-top: 40px;
            margin-bottom: 30px;
            box-shadow: 0px 3px 6px #00000029;
            border: 1px solid #f5f5f5;
            border-radius: 5px;
        }
        
        .form-head {
            display: flex;
            flex-direction: row;
            height: 108px;
            background-color: #008cff;
            font: normal normal bold 24px/37px Roboto;
            letter-spacing: 0px;
            text-transform: capitalize;
            opacity: 1;
            border-top-left-radius: 5px;
            border-top-right-radius: 5px;
        }
        
        .form-head-title {
            flex-grow: 1;
            text-align: center;
            text-transform: uppercase;
            color: #ffffff;
            font: normal normal normal 28px/37px Roboto;
            align-self: center;
            margin-left: 55px;
        }
        
        .close-button {
            float: right;
            width: 3.5vh;
            margin: 3vh 4vh;
        }
        
        .close-button:hover {
            cursor: pointer;
        }
        
        .row-content {
            display: flex;
            flex-direction: column;
            margin-top: 20px;
            padding: 0px 100px;
            border: 0px solid green;
        }
        
        .label {
            min-width: 140px;
        }
        
        label {
            padding: 12px 12px 12px 0;
            display: inline-block;
        }
        
        .text {
            font-size: 18px;
            color: #42515f;
            opacity: 1;
            font-family: Roboto;
        }
        
        .input {
            width: 100%;
            padding: 12px;
            border: 1px solid #bdbdbd;
            border-radius: 4px;
            resize: vertical;
            outline: none;
        }
        
        .input:focus {
            border: 2px solid #008cff;
        }

        select {
            padding: 12px;
            border: 1px solid #ccc;
            border-radius: 4px;
            resize: vertical;
            font: normal normal normal 18px/24px Roboto;
            letter-spacing: 0px;
            color: #42515f;
            background-color: transparent;
            outline: none;
        }

        select:focus {
            border: 2px solid #008cff;
        }
        
        .buttonParent {
            display: flex;
            padding: 0px 100px;
            flex-direction: row;
            margin-bottom: 20px;
            justify-content: flex-end;
            margin-top: 20px;
        }
        
        .button {
            font-size: 20px;
            font-family: Roboto;
            letter-spacing: 0px;
            color: #42515f;
            opacity: 1;
            background: transparent;
            border: none;
            font-weight: 400;
            min-width: 18vh;
            padding: 1vh;
            border: 1px solid #707070;
            cursor: pointer;
        }
        
        .submitButton, .resetButton {
            background: #E2E2E2 0% 0% no-repeat padding-box;
            border: 1px solid #969696;
            border-radius: 5px;
            opacity: 1;
        }
        
        .submitButton {
            margin-right: 30px;
        }

        .submitButton:hover {
            background: #008cff;
            color: white;
        }

        .submitButton:disabled {
            opacity: 0.5;
            cursor: not-allowed;
        }
        
        .resetButton:hover {
            background: #969696;
            color: white;
        }

        .resetButton:disabled {
            opacity: 0.5;
            cursor: not-allowed;
        }
        .error {
            font-size: 12px;
            font-style: italic;
            color: red;
            margin-left: 10px;
        }
        
        .location-row {
            display: flex;
            flex-direction: row;
            margin-bottom: 55px;
        }
        
        .location-row div {
            flex-grow: 1;
            display: flex;
            flex-direction: column;
        }
        
        .location-row div:nth-of-type(2) {
            margin: 0px 25px;
        }
        
        .location-row input {
            box-sizing: border-box;
        }
    }   
    * { 
        box-sizing: border-box;
    }
}

.displaymessage {
    color: red;
    text-align: center;
    align-items: center;
    margin-bottom: 20px;
    font-size: larger;
} 

@media only screen and (max-width: 600px) {
    .main .form-content .location-row {
        flex-direction:column;
        margin-bottom: 25px;
    }

    .main .header-content .logo-content {
        justify-content: center;
    }

    .main .form-content .location-row div:nth-of-type(2) {
        margin: 0px 0px;
    }

    .main .form-content .button {
        min-width: 12vh;
        margin:auto;
    }

    .main .form-content .close-button {
        width: 3vh;
        margin: 1vh 1vh;
    }
      
    .main .form-content .form {
        width: 90%;
    }
       
}

// @media only screen and (max-width: 768px) {
//     .main .form-content .location-row {
//         flex-direction:column;
//         margin-bottom: 25px;
//     }

//     .main .form-content .location-row div:nth-of-type(2) {
//         margin: 0px 0px;
//     }

//     .main .form-content .button {
//         min-width: 10vh;
//     }

//     .main .form-content .submitButton {
//         margin-top:20px;
//         margin-right: 75px;
//     }

//     .main .form-content .resetButton {
//         margin-top: 15px;
//         margin-right: 125px;
//     }

//     .main .form-content .submitButton:disabled {
//         margin-top:20px;
//         margin-right: 75px;
//     }

//     .main .form-content .resetButton:disabled {
//         margin-top: 15px;
//         margin-right: 125px;
//     }

//     .main .form-content .close-button {
//         width: 3vh;
//         margin: 1vh 1vh;
//     }

//     .main .form-content .form {
//         width: 95%;
//     }

// }

